.games table {
    padding: 5px;
}

.games td {
    border: solid 1px;
    padding: 10px;
    min-width: 200px;
    height: 40px;
}

td.numlabel {
    border: none;
    padding: 10px;
    min-width: 10px;
    height: 40px;
    text-align: center
}

select.playerCount {
    width: 40px;
}

img.logo {
    height: 75px;
    max-width: 100%;
}

.errors p {
    color: orange;
    font-weight: bold;
    width: 70%;
}

.gamespan {
    color: blue;
    border: solid 1px red;
    padding: 2px;
    margin: 2px;
    cursor: grab;
}

.targeted.rankcell {
    outline: solid 2px;
}

.targeted.gamespan {
    outline: solid 2px red;
}

.gamename {
    color: blue;
}